</br>

<div class="container">

<div class="jumbotron rounded-2 bg-light">
	<div class= "container py-4 px-4">
		<h1 class="display-4"><%=@article.title%></h1>
  		<section class="container my-4  mx-5">
  			<p class="lead"><%= @article.description %></p>
  		</section>
  		<hr class="my-4">
  		<br>
		<%= link_to "Back" , articles_path , class:"btn btn-dark"%>
	</div>	
  
</div>

</div>